version: "3.5"

services:
  # golang gRPC + HTTP Server
  api:
    build:
      context: ./backend
      target: builder
    container_name: camping-api.app
    restart: always
    ports:
      - 8000:8000
    links:
      - db
    volumes:
      - ./backend:/go/src/github.com/znacol/camping/backend
    environment:
      - server_env=dev
    command: ["/go/bin/backend"]

  # mySQL database
  db:
    image: mysql:8.0
    container_name: camping-db.app
    restart: always
    ports:
      - 5302:3306
    volumes:
      # Run schema updates
      - ./backend/db/schema:/docker-entrypoint-initdb.d
    environment:
      - MYSQL_DATABASE=camping
      - MYSQL_ROOT_PASSWORD=password

  # Angular app
  web:
    build:
      context: ./web
    container_name: camping-web.app
    restart: always
    ports:
      - 4200:8080
    links:
      - api
    volumes:
      - ./web/src:/web/src

  swagger:
    image: swaggerapi/swagger-ui
    container_name: swagger-docs
    restart: always
    ports:
      - 4500:8080
    environment:
      - SWAGGER_JSON=/mnt/api.swagger.json
    volumes:
      - ./backend/proto:/mnt