.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #467B9E;
    justify-content: space-between;
    padding: 10px;
    height: 50px;
}

.logo {
    width: 13%;
    padding-right: 20px;
}

.links {
    color: white;
    font-weight: bold;
}