<app-navbar></app-navbar>
<div class="container">
  <div class="map">
    <agm-map
      [fitBounds]=true
      [mapTypeId]='mapType'
      (mapClick)="siteClicked($event)">

      <agm-marker *ngFor="let site of sites"
        [latitude]="site.latitude" [longitude]="site.longitude"
        (markerClick)="markerSelected(site.id)"
        [agmFitBounds]="true">
      </agm-marker>

      <agm-kml-layer url="../assets/unnamed.gdb.kml"></agm-kml-layer>

    </agm-map>
  </div>

  <div>
    <app-sidebar [selectedSite]="selectedSite" [newSite]="newSite"></app-sidebar>
  </div>

</div>