body {
  background-color: #EBEBEB;
  margin: 0;
}

#content-outer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#content-inner {
  width: 100%;
  max-width: 1280px;
  background-color: #FFFFFF;
}
